.c_nav
    {
        background-color: rgb(21, 21, 167);
    }
.color
    {
        background-color: rgb(52, 59, 160);
        color: rgb(223, 221, 221);
    }
.color2
    {
        background-color: rgb(36, 116, 190);
        color: rgb(216, 216, 216);
    }